{% extends "base.html" %}
{% block content %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ storyname }}
            </h1>
        </div>
    </div>
</section>

<!--<h2 class="subtitle">
    This page shows <b>ALL</b> the stories.
</h2>-->

<h5>Select one</h5>
<form method="POST">
    <div class="form-group">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                {{ selectform.story(class_='button') }}
                <input type = "submit", class="button", value="Show">
            </div>
        </div>
    </div>
</form>


{% for post in posts %}
{% include '_post.html' %}
{% endfor %}

{% if storyname %}
<a href="{{ url_for('main.writer', storyname= storyname) }}"><button type="button" class="button is-danger">Update this story</button></a>
{% endif %}    


{% endblock %}
